</br>
</br>
</br>
</br>
<main class="container">
    <div class="jumbotron">
        <div class="card center-div" style="width: 18rem;">
            <img src="/Assets/images/varaprasad.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Varaprasad Bantaram</h5>
              <p class="card-text text-muted">I am a web developer with morethan 5 years of experience on major web developemnt technologies such as AngularJS, ReactJS, ExtJS, HTML5..etc. I am aspired to be associated with a progressive organization that gives me scope to apply my
                knowledge, skills and to deliver the solutions with high quality and productivity. To acquire a position
                that offers to enhance my technical skills by using valuable resources within a growing organization.</p>
              <a href="/Assets/pdfs/Varaprasad-Resume.pdf" class="btn btn-primary">Download Resume</a>
            </div>
          </div>
    </div>
</main>

