</br>
</br>
</br>
</br>
<main class="container">
    <div class="jumbotron">
        <h4>Contact No: +91 8861268111</h4></br>
        <h4>Email: vbantara@my.centennialcollege.ca</h4></br>
        <p><b>Address : </b>H.No.1-68, Edulapally Village, Kothur Mandal,Shadnagar, Telangana, India, 509216.</p></br>
    </div>

    <div class="jumbotron">
        <h4>Send Me a Message</h4></br>
        <p class="text-muted">My website offers information on many specific areas of interest related to web development. If you have a general question which is not answered on my website or you want to share any suggestions, please contact me using the below form.</p>
        <form action="/">
              <div class="row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-muted">First Name </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-lg" id="colFormLabelLg">
                </div>
              </div>
              </br>

              <div class="row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-muted">Last Name </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-lg" id="colFormLabelLg">
                </div>
              </div>
              </br>

              <div class="row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-muted">Contact Number </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control form-control-lg" id="colFormLabelLg">
                </div>
              </div>
              </br>

              <div class="row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-muted">Email ID </label>
                <div class="col-sm-10">
                  <input type="email" class="form-control form-control-lg" id="colFormLabelLg">
                </div>
              </div>
              </br>

              <div class="row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-muted">Subject</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-lg" id="colFormLabelLg">
                </div>
              </div>
              </br>

              <div class="row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-muted">Message</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>

              </br>
              <div class="row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Contact Me</button>
                </div>
              </div>
          </form>
    </div>
</main>
