<!-- Home page body Section -->
<body>
    <!-- Main Section -->
    <% include homepageintromessage.ejs %> 

    <!-- Featurette Section -->
    <% include homefeaturette.ejs %> 

    <!-- Scripts Section -->
    <% include scripts.ejs %>
  </body>