<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A little-bit about me. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">I am a web developer with morethan 5 years of experience on major web developemnt technologies such as AngularJS, ReactJS, ExtJS, HTML5..etc</p>
        <a class="btn btn-primary btn-lg" href="/aboutme" role="button">Learn more</a>
      </div>
      <div class="col-md-5">
        <img class="featurette-image pull-right" src="/Assets/images/about-me-image.jpg" width="466" height="280">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Some of my works. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead"> I have developed a plethora of web applications serving hundreds of clients worldwide. Some of them include: <b>1.Automatic File Manager</b> Which is a .Net based software that automates file operations on a local PC. <B>2.Railway Data Logger System</B> DLS is custom built for use in Railways. The system continuously monitors the
            various signaling activities and parameters in a Railway Station/End Cabin
            Yard/Wayside relay huts.</p>
        <a class="btn btn-primary btn-lg" href="/projects" role="button">Learn more</a>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image pull-right" src="/Assets/images/our-products-image.png" width="466" height="280">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Services we provide. <span class="text-muted">Check them out.</span></h2>
        <p class="lead"> We offer a variety of website design and development services, from creating mobile web development solutions and responsive website designs, to building custom e-commerce and intranet experiences using the latest and proven web technologies.Also, We Provide extraordinary Graphic Design Services including outstanding website designs, attention-grabbing logos, noticeable flyers and attractive flexes. Click the button to learn more.</p>
        <a class="btn btn-primary btn-lg" href="/services" role="button">Learn more</a>
    </div>
      <div class="col-md-5">
        <img class="featurette-image pull-right" src="/Assets/images/services-image.jpg" width="466" height="280">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image pull-right" src="/Assets/images/contact-me-image.jpg" width="466" height="280">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Get in touch with me. <span class="text-muted">Share your thoughts.</span></h2>
          <p class="lead">My website offers information on many specific areas of interest related to web development. If you have a general question which is not answered on my website or you want to share any suggestions, please contact me. Click the button to learn more.</p>
          <a class="btn btn-primary btn-lg" href="/contactme" role="button">Learn more</a>
        </div>
      </div>


      <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div>