<!-- Projects Section -->
<body>
</br>
</br>
</br>
</br>
    <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Automatic File Manager. <small class="text-muted">One stop solution for all filemanagement activities.</small></h2>
            <p class="lead">Automatic File Manager is a .Net based software that automates file operations on a local PC. Usually,
                managing each & every file in a directory is a hectic job and consumes a significant amount of time,
                Especially if the no of files is more. It is a tool through which a user can assign rules based on constraints
                like file extension, filename, file size and last date of modification...etc. and perform operations such as
                copying, moving, renaming and deleting temporarily or permanently.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image pull-right" src="/Assets/images/auto-file-manage.jpg" width="466" height="280">
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Railway Data Logger System <small class="text-muted">(DLS)</small></h2>
            <p class="lead">DLS is custom built for use in Railways. The system continuously monitors the
                various signaling activities and parameters in a Railway Station/End Cabin
                Yard/Wayside relay huts. Its architecture is useful for both distributed and
                centralized monitoring of the requirements.
                The system works in a dedicated manner by keeping an eagle eye on the
                various activities that take place in a Railway signaling system and records
                the field activities in chronological order with real time stamp, thus making
                easy, a manually impossible task of recording the events of signaling system.
                These recorded information/data is greatly useful for PREDICTIVE
                MAINTENANCE and FAULT ANALYSIS.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image pull-right" src="/Assets/images/railways-image.jpg" width="466" height="280">
          </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Remote controlled Robot. <small class="text-muted">(IoT)</small></h2>
            <p class="lead">This robot will collect data from remote place and able to send the data to a remote  IoT cloud database. 
              it will be controlled via android  mobile phone.  We can control the  movement of  the robot  by sending instructions via Bluetooth. The robot will receive the 
              instruction via the Bluetooth module and process the data with Arduino microcontroller. Then it will make a move in the given direction with the help of motor driver L298N by following the instructions 
              received from android mobile phone. The robot can also collect data of temperature and humidity from that place with the sensor DHT11 and send the data via Wi-Fi to the cloud database with the help of node MCU ESP8266. 
              Then the data will be shown as well as the remote place can be monitored from anywhere in the globe from the internet server used.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image pull-right" src="/Assets/images/robot-image.jpg" width="466" height="280">
          </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
    </div>
</body>