<!-- TopNav Section -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
    <div class="container-fluid" style="max-width:100%;">
      
      <a class="navbar-brand" href="/" >
        <img src="/Assets/images/freelogo.jpg" alt="" width="25%" height="25%">
        <b class="display-5">Varaprasad</b><span class="text-muted"> Bantaram</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <% if(title == "Home") {%>
            <li class="nav-item active">
          <%} else {%>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/"> <i class="fas  fa-house-user"></i> Home</a>
          </li>

          <% if(title == "About Me") {%>
            <li class="nav-item active">
          <%} else {%>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/aboutme"> <i class="fas  fa-address-card"></i> About Me</a>
          </li>

          <% if(title == "Projects") {%>
            <li class="nav-item active">
          <%} else {%>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/projects"><i class="fas  fa-chalkboard-teacher"></i> Projects</a>
          </li>

          <% if(title == "Services") {%>
            <li class="nav-item active">
          <%} else {%>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/services" tabindex="-1" aria-disabled="true"><i class="fas fa-users-cog"></i> Services</a>
          </li>

          <% if(title == "Contact Me") {%>
            <li class="nav-item active">
          <%} else {%>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/contactme" tabindex="-1" aria-disabled="true"><i class="fas  fa-address-book"></i> Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>